@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  body {
    @apply !bg-ui-bg-base;
    text-rendering: optimizeLegibility;
  }
}

.ag-aria-description-container {
  display: none;
}

.ag-theme-alpine .classified-column {
  background-color: #fffbe6 !important; /* Light yellow background */
}

.ag-theme-alpine .classified-header {
  background-color: #fff8d9 !important; /* Slightly darker yellow for headers */
}
