@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  body {
    @apply !bg-ui-bg-base;
    text-rendering: optimizeLegibility;
  }
}

.ag-aria-description-container {
  display: none;
}

.ag-theme-quartz .classified-column {
  background-color: #fffbe6; /* Light yellow background */
}

.ag-theme-quartz .classified-header {
  background-color: #fff8d9; /* Slightly darker yellow for headers */
}

.ag-theme-quartz .has-duplicates {
  background-color: rgba(255, 244, 229, 0.5);
}

.ag-row-level-1 {
  background-color: rgba(249, 250, 251, 0.5);
}

.ag-theme-quartz .duplicate-parent-row {
  background-color: rgba(255, 244, 229, 1);
}

.ag-theme-quartz .duplicate-parent-row.ag-row-hover {
  background-color: rgba(255, 244, 229, 0.8);
}

.ag-theme-quartz .duplicate-child-row {
  background-color: rgba(255, 244, 229, 0.5);
}

.ag-theme-quartz .duplicate-child-row.ag-row-hover {
  background-color: rgba(255, 244, 229, 0.3);
}

.ag-watermark {
  display: none !important;
}
